.listItem {
    background-color: var(--background-secondary);
    border-radius: 0.5em;
    min-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listItem:hover {
    transform: scale(1.05);
    cursor:pointer;
}

.listItem > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    transition: color 0.3s;
}

@media (max-width: 750px) {
    .listItem {
        border-radius: 0;
    }
}