.container {
  padding: 0;
}

.title {
  margin: 1.5rem 1.5rem 1rem 1.5rem;
}

.footer {
  width: 100%;
  padding: 0 1rem 1.5rem 1rem;
}

.header {
  display: flex;
  background-color: var(--background-secondary);
  border-radius: 0.5em;
  gap: 0.7em;
  overflow: hidden;
  margin-top: 1em;
  align-items: center;
}

.headerInfo * {
  font-size: 1.5em !important;
  /* color: red; */
}

.customer {
  border-radius: 0.8em;
  max-width: 30em;
  min-width: 20em;
  width: 60%;
}

.customer .content {
  border-bottom-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  padding: 0 1em 1em 1em;
  background-color: var(--background-secondary);
}

.navTabs {
  border: 0;
}

.activeLink {
  background-color: var(--background-secondary) !important;
  color: var(--text-primary) !important;
  border: 0 !important;
}

.link {
  border: 0 !important;
  color: var(--text-primary) !important;
}

.link:active {
  color: var(--text-highlighted) !important;
}

.link:hover {
  border: 0 !important;
}

.poster {
  width: 30%;
  max-width: 13em;
  min-width: 8em;
  object-fit: cover;
}

.payBtn {
  width: 100%;
  font-size: 1.3em;
  /* height: 4.5em; */
}

@media (max-width: 750px) {
  .title {
    margin: 1rem 1rem 1rem 1rem;
  }

  .customer {
    max-width: none;
    min-width: none;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .headerInfo * {
    font-size: 1em !important;
  }
}
