.headerInfo {
    display: flex;
    flex-direction: row;
}

.poster {
    width: 300;
    height: 450px;
    margin-right: 2em;
}

.description {
    text-align: justify;
}

.details {
    display: flex;
    flex-direction: row;
}

.sideInformation {
    width: 30em;
}

.cast {
    width: 100%;
}