.headerInfo {
    display: flex;
    flex-direction: row;
}

.poster {
    width: 300;
    height: 450px;
    margin-right: 2em;
}

.description {
    text-align: justify;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

.sideInformation {
    width: 20%;
}

.cast {
    width: 80%;
}