.headerInfo {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.poster {
    max-width: 300px;
    height: 350px;
    margin-right: 2em;
}

.description {
    text-align: justify;
}


.containerHeader {
    background-color: #c4c9cd;
    color: #202428;
}

.cart {
    border-left: 1px solid #202428;
    padding-left: 1em;
    margin-left: 1em;
}

.cartList {
    list-style-type: none;
    padding: 0;
}

.cartList li {
    border-bottom: 1px solid #c4c9cd;
    padding: 0.2em;
}

.cartList li:last-child {
    border-bottom: none;
}