.container {
  width: 100%;
  height: 1px;
}

.line {
  height: 100%;
  background-color: rgba(6, 12, 14, 0.151);
  margin-top: 0.5em;
  animation: loading-animation 2s linear;
}

@keyframes loading-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
