:root {
  --background-primary: #222f36;
  --background-secondary: #212529;
  --background-tertiary: #3d4145;
  --background-navbar: 9, 17, 21;
  --text-primary: #d5d5d5;
  --text-secondary: #2b5263;
  --text-highlighted: #4c91af;
  --navbar-height: 56px;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background-color: transparent;
}

body {
  height: 100%;
  display: block;
  overflow: auto;
  color: var(--text-primary) !important;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0f2027,
    #203a43,
    #2c5364
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  height: 100%;
  display: block;
  overflow: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #5a5a5a var(--background-secondary);
  user-select: none;
  -webkit-user-drag: none;
}

.modal-body,
.modal-footer,
.modal-header {
  color: var(--background-secondary);
}

/* a {
  user-select: none;
  -webkit-user-drag: none;
} */

::-webkit-scrollbar {
  max-width: 10px;
  max-height: 12px;
}

/* Set the style for the scrollbar track */
::-webkit-scrollbar-track-piece {
  background-color: var(--background-secondary);
}

::-moz-scrollbar-track {
  background-color: var(--background-secondary);
}

/* Set the style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #909090;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--text-highlighted);
}

::selection {
  color: white;
  background: var(--text-highlighted);
}
