.card {
    text-align: center;
    width: 7em;
    /* height: 12em; */
    font-size: 1em;
    padding: 0;
    /* flex: 0 0 auto; */
}

.name {
    padding: 0.2em 0.4em 0.2em 0.4em !important;
    font-weight: bold;
}

.roleName {
    padding: 0.2em 0.4em 0.2em 0.4em !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}